{% extends 'gmaps_base.html' %}
{% load staticfiles %}

{% block header %}
    <h1>HI!</h1>
{%  endblock %}

{% block app_drawing %}
<script type="text/javacript"> // todo why are these here instead of in the js file?
    console.log("HI MATES")
    var flightPath = {{ flight_path|safe }} // test if you need safe for this and the line below.
    var divert_fields = {{ divert_fields_js|safe }}
    console.log("flight path")
</script>

<script type="text/javascript" src="{% static 'diverts/diverts.js' %}"></script>

{%  endblock %}